@import 'assets/variables';
@import 'assets/mixins';

body {
  // @include font-size($desktop--font-size--body);
  // @include font--primary($regular);
  // font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $color--black;
  // line-height: $line-height--body;
  // @media #{$normal} {
  //   @include font-size($desktop--font-size--body);
  //   line-height: $desktop--line-height--body;
  // }
}

h1,
h2,
h3,
h4 {
  margin: 0;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

// h1 {
//   @include font-size($font-size--h1);
//   @include font--primary($bold);
//   line-height: $line-height--h1;
//   margin-bottom: 2rem;

//   @media #{$normal} {
//     @include font-size($desktop--font-size--h1);
//     line-height: $desktop--line-height--h1;
//     margin-bottom: 3rem;
//   }
// }

// h2 {
//   @include font-size($font-size--h2);
//   @include font--primary($bold);
//   line-height: $line-height--h2;
//   margin-bottom: 2rem;

//   @media #{$normal} {
//     @include font-size($desktop--font-size--h2);
//     line-height: $desktop--line-height--h2;
//   }
// }

// h3 {
//   @include font-size($font-size--h3);
//   @include font--primary($bold);
//   line-height: $line-height--h3;
//   margin-bottom: 2rem;

//   @media #{$normal} {
//     @include font-size($desktop--font-size--h3);
//     line-height: $desktop--line-height--h3;
//   }
// }

// h4 {
//   // @include font-size($font-size--h4);
//   // @include font--primary($bold);
//   font-size: 14px;
//   // line-height: $line-height--h4;
//   margin-bottom: 2rem;

//   // @media #{$normal} {
//   //   @include font-size($desktop--font-size--h4);
//   //   line-height: $desktop--line-height--h4;
//   // }
// }

// h5 {
//   // @include font-size($font-size--h4);
//   // @include font--primary($bold);
//   font-size: 12px;
//   // line-height: $line-height--h4;
//   margin-bottom: 2rem;

//   // @media #{$normal} {
//   //   @include font-size($desktop--font-size--h4);
//   //   line-height: $desktop--line-height--h4;
//   // }
// }

// h6 {
//   // @include font-size($font-size--h4);
//   // @include font--primary($bold);
//   font-size: 10px;
//   // line-height: $line-height--h4;
//   margin-bottom: 2rem;

//   // @media #{$normal} {
//   //   @include font-size($desktop--font-size--h4);
//   //   line-height: $desktop--line-height--h4;
//   // }
// }

.center-align {
  text-align: center
}

.left-align {
  text-align: left
}

.right-align {
  text-align: right
}

.justify-align {
  text-align: justify
}

.uppercase {
  text-transform: uppercase
}

.italic {
  font-style: italic !important
}

.light {
  @include font--primary($light);
}

.reg {
  @include font--primary($regular);
}

// .medium {
//   @include font--primary($medium)
// }

.bold {
  @include font--primary($bold);
}

.hover-black {
  &:hover {
    color: $color--black !important;
  }
}

.t-black {
  color: $color--black;
}

.t-light-black {
  color: $color--sub-black
}

.t-white {
  color: $color--white;
}

.t-blue {
  color: $color--blue
}

.t-grey {
  color: color--grey
}

.t-red {
  color: $color--red;
}

.t-gold {
  color: $color--gold
}

.t-error {
  color: $color--error
}

.border-error {
  border: 1px solid $color--error !important;
}

.margin0 {
  margin: 0;
}

.linenormal {
  line-height: 20px;
}

.spacing-normal {
  letter-spacing: 0.1em;
}

.pointer {
  cursor: pointer;
}

.pointer-none {
  pointer-events: none;
}

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
